<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>validationServlet</servlet-name>
        <servlet-class>validationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UrlRewritingServlet</servlet-name>
        <servlet-class>UrlRewritingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSessionServlet</servlet-name>
        <servlet-class>HttpSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validationServlet</servlet-name>
        <url-pattern>/validationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UrlRewritingServlet</servlet-name>
        <url-pattern>/UrlRewritingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSessionServlet</servlet-name>
        <url-pattern>/HttpSessionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
